
config main 'default'
	option enabled '1'

config rule
	option action 'reset'
	option host 'baidu.com,360.com'
	option ip '0.0.0.0/0'
	option ipv6 '::/0'
	option disabled '1'

config rule
	option action 'reset'
	option host 'baidu.com,360.com'
	option disabled '1'
	list mac 'AA:BB:CC:DD:EE:FF'

config rule
	option host 'baidu.com,360.com'
	option action 'reset'
	option disabled '1'

config rule
	option host 'baidu.com,360.com'
	option action 'reset'
	option disabled '1'

config rule
	option host 'baidu.com,360.com'
	option action 'reset'
	option disabled '1'

config rule
	option host 'baidu.com,360.com'
	option action 'reset'
	option disabled '1'

config rule
	option host 'baidu.com,360.com'
	option action 'reset'
	option disabled '1'

config rule
	option host 'baidu.com,360.com'
	option action 'reset'
	option disabled '1'

